@import "~bootstrap/scss/bootstrap";

// Set font family to Helvetica globally
* {
  font-family: Helvetica;
}

h2,
h3 {
  color: grayscale($color: #5c5656);
}

.header {
  margin: 2%;
  text-align: center;
}

.permutation-wizard {
  margin: auto;
  text-transform: uppercase;
  font-weight: bold;
}

// Main Content sizing
.main-content {
  width: 25%;
  height: auto;
  margin: auto;
}

// Done/Back button styling
.done-button,
.back-button {
  margin-top: 4%;
  color: whitesmoke;
  padding: 5px 15px;
  border-radius: 8px;
  font-weight: bold;
}

// Done button color
.done-button {
  background-color: #397c12;
}

// Back button color
.back-button {
  background-color: #7a1010;
}

// Carousel Outer Container
.carousel-container {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: auto;
}

// Carousel Styling Customization
.carousel .carousel-control-prev {
  margin-left: -20%;
  filter: invert(1);
}

.carousel .carousel-control-next {
  margin-right: -20%;
  filter: invert(1);
}

.carousel .carousel-indicators {
  margin-bottom: -7%;
  filter: invert(1);
}

.permutation {
  padding: 5%;
}

.permutation-text {
  text-transform: uppercase;
  font-weight: bold;
}

.brand {
  margin-top: -5%;
  margin-bottom: 5%;
}

.call-to-action {
  margin-top: 2%;
}

// Flowcode Image
.flowcode {
  width: 75%;
  height: 75%;
}

.selected {
  background-color: rgba(136, 202, 128, 0.637);
}

.permutation-container {
  padding: 10%;
}
